# General Mac-specific things.
# ......................................................................

.DS_Store


# General Emacs things.
# ......................................................................

*~
.#*
.git/COMMIT_EDITMSG
auto


# Directory-specific things.
# ......................................................................

# Need to check in the HTML because we need to process it with pandoc.
# *.html
composer.lock
